https://download.pytorch.org/whl/cu116/torch-1.13.0%2Bcu116-cp39-cp39-linux_x86_64.whl
https://download.pytorch.org/whl/cu116/torchvision-0.14.0%2Bcu116-cp39-cp39-linux_x86_64.whl
timm==0.6.11
networkx==2.7.1
scipy==1.8.0
lightning==1.8.0
pytorch-lightning==1.8.0
https://download.openmmlab.com/mmcv/dist/cu117/torch1.13.0/mmcv_full-1.7.1-cp39-cp39-manylinux1_x86_64.whl
mmdet==2.28.2
git+https://github.com/cocodataset/panopticapi.git
torchmetrics
